/*css for tool button on the left toolbar*/

.toolbar-button {
    margin-top: 4px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    -webkit-app-region: drag;
}

.toolbar-button:before,
.toolbar-button:after {
    display: table;
    content: " ";
}

.toolbar-button:after {
    clear: both;
}

.toolbar-button>.btn,
.toolbar-button>.btn-group {
    margin-left: 4px;
    margin-right: 4px;
}


/*End*/

.details_sidebar {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    width: 100px;
    box-sizing: border-box;
}

.selected {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0 {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0 {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}

.form-group {
    padding: 0 5px;
}